﻿@if (Request.IsAuthenticated)
{

//    @{
        ViewBag.Title = "Application Support Information";
//    }
    <h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <text> In case of any issues with PMRadarsTracker, please contact application support with the following information: Screen or function
           you were performing, any error displayed, operating system and version of your computer and what browser and version you are using. 
    </text>
    
    <br /><br />
    <address>
        Address line of group supporting application<br />
        City, State zip<br />
        <abbr title="Phone">P:</abbr>
        999.999.9999
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:support@appsupport.com">Support@appsupport.com</a><br />
    </address>
}
else
{
    <strong>Need to log in first</strong>
}