﻿
@{
    ViewBag.Title = "IDM Login";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div> 
        <h2>@ViewBag.Title</h2>
        @using(Html.BeginForm())
        {
            <div>
                @Html.Label("User Name")
                @Html.TextBox("username")
            </div> 
            <div>
                @Html.Label("Password")
                @Html.TextBox("password")
            </div>
            <div><button>Login</button></div> 
        }
    </div>
</body>
</html>
