﻿@model RadarsDocLibrary.Models.DocumentUploads2

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>DocumentUploads2</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.DateTimeAdded, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DateTimeAdded)
                @Html.ValidationMessageFor(model => model.DateTimeAdded)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwningEntityTable, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwningEntityTable)
                @Html.ValidationMessageFor(model => model.OwningEntityTable)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.OwningEntityID, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.OwningEntityID)
                @Html.ValidationMessageFor(model => model.OwningEntityID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DocumentName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocumentName)
                @Html.ValidationMessageFor(model => model.DocumentName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DocumentPath, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DocumentPath)
                @Html.ValidationMessageFor(model => model.DocumentPath)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Notes, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Notes)
                @Html.ValidationMessageFor(model => model.Notes)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
