﻿@model IEnumerable<RadarsFleetTracker.Models.pmradarstracker>
@{
  // Need to add if statement to remove "delete" if the user doesn't have the "admin" claim
    ViewBag.Title = "PM Radars Detail Report";
    var llstRecords = Model;
    Utilities lutilRadars = new Utilities();
    string ltContextPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
 }                                                                             


<script type="text/javascript">
    jQuery(document).ready(function () {
        @{
        <text>
        var systemnames = @Html.Raw(lutilRadars.getSystemNames());
        var linnames = @Html.Raw(lutilRadars.getLINNames());
        var nsns = @Html.Raw(lutilRadars.getNSNDescs());
        var hardwareconfigs = @Html.Raw(lutilRadars.getHardwareconfigs());
        var softwareconfigs = @Html.Raw(lutilRadars.getSoftwareconfigs());
        </text>
}

        getUniqueNames = function (columnName) {

            switch (columnName.toLowerCase())
            {
                case "systemname":
                    return systemnames;
                    break;
                case "lin":
                    return linnames;
                    break;
                case "nsn":
                    return nsns;
                    break;
                case "hardwareconfig":
                    return hardwareconfigs;
                    break;
                case "softwareconfig":
                    return softwareconfigs;
                    break;
            }
        },
        buildSearchSelect = function (uniqueNames) {
            var values = ":All";
            $.each(uniqueNames, function () {
                values += ";" + this + ":" + this;
            });
            return values;
        },
        setSearchSelect = function (columnName) {
            //            alert(getUniqueNames.call(this, columnName));
            this.jqGrid("setColProp", columnName, {
                stype: "select",
                searchoptions: {
                    value: buildSearchSelect(getUniqueNames.call(this, columnName)),
                    sopt: ["eq"]
                }
            });
        };

        myGrid = jQuery("#RadarsGrid");
        myGrid.jqGrid({
            url: '@ltContextPath/Application/GridData/',
            datatype: 'json',
            gridview: true,
            rownumbers: true,
            //            loadonce: true,
            ignoreCase: true,
            scroll: 0,
            mtype: 'GET',
            colNames: ['Edit',@if(lutilRadars.DoesUserHaveClaim(User,"Admin")){<text>'Delete',</text>}'SystemName', 'LIN', 'NSN', 'SerialNumber', 'PrimaryMoverID', 'PowerUnitSerial',
                        'SupportMoverSerial', 'ShelterSerialNumber', 'Location',
                        'HardwareConfig','SoftwareConfig','CabKit','PDUSerial','VehicleMountSerial','Notes'],
            colModel: [
                        { name: 'edit', formatter: editlinkformatter, width: 20 },
                        @if(lutilRadars.DoesUserHaveClaim(User,"Admin")){<text>{ name: 'delete', formatter: deletelinkformatter, width: 20 },</text>}
                        { name: 'systemname', width: 30},
                        { name: 'lin', width: 25},
                        { name: 'nsn', width: 25},
                        { name: 'serialnumber', sortable: true, Index: 'serialnumber', width: 30, align: 'left' },
                        { name: 'primarymoverid', sortable: true, Index: 'primarymoverid', width: 30, align: 'left' },
                        { name: 'powerunitserial', sortable: true, Index: 'powerunitserial', width: 30, align: 'left' },
                        { name: 'supportmoverserial', sortable: true, Index: 'supportmoverserial', width: 30, align: 'left' },
                        { name: 'shelterserialnumber', sortable: true, Index: 'shelterserialnumber', width: 30, align: 'left' },
                        { name: 'location', sortable: true, Index: 'location', width: 30, align: 'left' },
                        { name: 'hardwareconfig', width: 30},
                        { name: 'softwareconfig', width: 30},
                        { name: 'cabkit', width: 30},
                        { name: 'pduserial', width: 30},
                        { name: 'vehiclemountserial', width: 30},
                        { name: 'notes', sortable: false, width: 50, align: 'left' }],
            pager: '#pager',
            rowNum: 20,
            rowList: [5, 10, 20, 50],
            sortname: 'systemname',
            sortorder: "desc",
            autowidth: true,
            viewrecords: true,
            ondblClickRow: function(rowId) {
                var rowData = jQuery(this).getRowData(rowId);
                var serialNumber = rowData['serialnumber'];
                console.log("@ltContextPath/Application/DataUpdate?action=update&serialnumber="+serialNumber);
                //                document.location.href = "/Application/DataUpdate?action=update&serialnumber="+serialNumber;
                document.location.href = "@ltContextPath/Application/DataView?action=update&serialnumber="+serialNumber;
            }
        });
        myGrid.jqGrid('navGrid', '#pager', {edit: false, add: false, del: false, search: false, refresh: false}, {}, {}, {},
    { multipleSearch: true, overlay: false });

        function editlinkformatter(cellvalue, options, rowObject) {
            return "<div style=\"text-align: center;\"><button type=\"button\" class=\"gridbutton\" onClick=\"EditRecord('" + rowObject['serialnumber'] + "');\">Edit</button></div>";
        }

        function deletelinkformatter(cellvalue, options, rowObject) {
            return "<div style=\"text-align: center;\"><button type=\"button\" class=\"gridbutton\" onClick=\"DeleteConfirm('" + rowObject['serialnumber'] + "');\">Delete</button></div>";
        }

        setSearchSelect.call(myGrid, "lin");
        setSearchSelect.call(myGrid, "nsn");
        setSearchSelect.call(myGrid, "systemname");
        setSearchSelect.call(myGrid, "hardwareconfig");
        setSearchSelect.call(myGrid, "softwareconfig");

        myGrid.jqGrid("setColProp", "Name", {
            searchoptions: {
                sopt: ["cn"],
                dataInit: function (elem) {
                    $(elem).autocomplete({
                        source: getUniqueNames.call($(this), "Name"),
                        delay: 0,
                        minLength: 0,
                        select: function (event, ui) {
                            var myGrid, grid;
                            $(elem).val(ui.item.value);
                            if (typeof elem.id === "string" && elem.id.substr(0, 3) === "gs_") {
                                myGrid = $(elem).closest("div.ui-jqgrid-hdiv").next("div.ui-jqgrid-bdiv").find("table.ui-jqgrid-btable").first();
                                if (myGrid.length > 0) {
                                    grid = myGrid[0];
                                    if ($.isFunction(grid.triggerToolbar)) {
                                        grid.triggerToolbar();
                                    }
                                }
                            } else {
                                // to refresh the filter
                                $(elem).trigger("change");
                            }
                        }
                    });
                }
            }
        });

        myGrid.jqGrid('filterToolbar', {
            stringResult: true, searchOnEnter: true, defaultSearch: "cn", beforeSearch: function () {
                // alert("verifying the data");
                var postData = myGrid.jqGrid('getGridParam', 'postData');
                // we use `stringResult: true` so decoding of the search parameters are a little complex
                var searchData = jQuery.parseJSON(postData.filters);
                for (var iRule = 0; iRule < searchData.rules.length; iRule++) {
                    if (searchData.rules[iRule].field === "Name") {
                        var valueToSearch = searchData.rules[iRule].data;
                        if (valueToSearch.length != 5) {
                            alert("The search string MUST de 5 charachters length!");
                            return true;    // error
                        }
                    }
                }
                return false;
            }
        });
        myGrid.jqGrid('navButtonAdd', '#pager',
        {
            caption: "Filter",
            title: "Toggle Searching Toolbar",
            buttonicon: 'ui-icon-pin-s',
            onClickButton: function () {
                myGrid[0].toggleToolbar();
                setSearchSelect.call(myGrid, "lin");

            }
        }
        );
        myGrid[0].toggleToolbar();

        function linkformatter( cellvalue, options, rowObject){
            return "<a href='@ltContextPath/Application/DataUpdate?action=update&serialnumber="+cellvalue+"'>"+cellvalue+"</a>" ;
        }
    });

    function DeleteConfirm(key) {
        if (confirm("Are you sure you wish to delete " + key + " and all related Event/History Records?"))
        {
            window.location.href = "@ltContextPath/Application/DataUpdate?action=delete&serialnumber="+key;
            //            alert("deleted " + key);
            //Ajax the  delete 
        }

    }
    function EditRecord(key) {
        window.location.href = "@ltContextPath/Application/DataView?action=update&serialnumber="+key;
    }

</script>

<div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>

<div id="RadarsGridDiv">
    <h2>PM Radars Detail Report</h2>
    <table id="RadarsGrid"><tr><td></td></tr></table>
    <div id="pager" align="left"></div>
</div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
@{
    System.Web.HttpContext.Current.Session["DisplayMessage"] = " ";
}


