﻿<!DOCTYPE html>
@{
    Utilities lutilRadars = new Utilities();
    string ltContextPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
    string ltTotalAlertString = "";
    string[] lines;
    string ltCDRLID;
}

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
<!-- 11/28/2015 Moved jQuery to head section from end of file. Was getting undefined errors due to it not being loaded before being referenced-->
    @Scripts.Render("~/bundles/jquery")
    <!--    <script src="/Scripts/free-jqGrid/jquery.jqGrid.min.js" type="text/javascript"></script> -->
    <link rel="stylesheet" type="text/css" href="@ltContextPath/Scripts/themes/darkness/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="@ltContextPath/Scripts/jqGrid-master/css/ui.jqgrid.css" />
    <script src="@ltContextPath/Scripts/jquery-ui-1.11.4.js" type="text/javascript"></script>
    <script src="@ltContextPath/Scripts/jqGrid-master/js/jquery.jqGrid.src.js" type="text/javascript"></script>
    <script src="@ltContextPath/Scripts/jqGrid-master/js/grid.filter.js" type="text/javascript"></script>


</head>
        <body>
            <!--        <div class="navbar navbar-inverse navbar-fixed-top"> -->
                    <div class="navbar navbar-inverse navbar-fixed-top">

                    <div class="container">
@{if (lutilRadars.IsThereAnAlert(User))
  {
        ltTotalAlertString = lutilRadars.GetAlert(User);
        if(ltTotalAlertString.IndexOf("|") > 0)
        {
           lines = ltTotalAlertString.Split('|');
        }
        else
        {
           lines = new string [] { ltTotalAlertString};
        }
        <!-- need to loop through the ltTotalAlertString now -->
                <div id="AlertRibbon">
                    <!-- Comment the lines below in to display alerts -->
                    @{
//                    foreach (string ltLine in lines) 
//                    { 
// need to change output to create the link... use ltcontext to get server info
//                    ltCDRLID = ltLine.Substring(ltLine.IndexOf("*** CDRL Alert For ID :") + 23,ltLine.IndexOf(".") - (ltLine.IndexOf("*** CDRL Alert For ID :") + 23)).Trim();    
//                        <a href="@ltContextPath/Application/CDRLEntry?whichaction=update&key=@ltCDRLID">@ltLine</a>
//                    }          
                    }
                </div>
 }
}
                        <div id="menulogo">
                            <a href="@ltContextPath/" title="Radars Home" rel="home" class="logo"><img src="@ltContextPath/images/ProjectManagerRadarsSmallLogo.jpg" class="logo-height-constrain" alt="Radars PM Logo"></a>
                        </div>
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
        <!--                    @Html.ActionLink("Radars Fleet Tracker", "Index", "Home", null, new { @class = "navbar-brand" })         -->
                        </div>
                        <div class="fullwidthspacer"></div>
                        <div class="navbar-collapse collapse">
                            <ul class="nav navbar-nav">
                                <li>@Html.ActionLink("Home", "Index", "Home")        </li>

                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Database<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        @{if (!lutilRadars.DoesUserHaveClaim(User,"ReadOnly")){<li>@Html.ActionLink("Add Contract","ContractEntry","Application",new { whichaction = "newrecord" }, new{}) </li>}}
                                        <li>@Html.ActionLink("Browse Contracts","ContractList","Application") </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Documents<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        @{if (!lutilRadars.DoesUserHaveClaim(User,"ReadOnly")){<li>@Html.ActionLink("Document Library","DocLibEntry","Application",new { whichaction = "newrecord" }, new{}) </li>}}
                                        <li>@Html.ActionLink("Organize Documents","DocLibOrganizeEntry","Application") </li>
                                    </ul>
                                </li>

@{if (lutilRadars.DoesUserHaveClaim(User,"Admin"))
  {
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Admin<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("Audit Log", "AuditLogList", "Application")        </li>
                                        <li>@Html.ActionLink("HomePage Content Update", "UpdateSiteContent", "Application")        </li>
                                        </ul> 
                                </li>
 }
}
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Reports<b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li>@Html.ActionLink("ContractAction Detail Report","ContractActionReport","Application")  </li>
                                        <li>@Html.ActionLink("CDRL Date Report","CDRLDateReport","Application")   </li>
                                    </ul>
                                </li>
                            </ul>
                            @Html.Partial("_LoginPartial")
                        </div>
                    </div>
                </div>
            <div class="container body-content">
                @RenderBody() 
                <hr />
                <footer>
                    <p>&copy; @DateTime.Now.Year        - PM Radars</p>
               </footer>
           </div>

           @Scripts.Render("~/bundles/bootstrap")
           @RenderSection("scripts", required: false)
       </body>
       </html>
