﻿@model RadarsCDRLTracker.Models.PeriodOfPerformance
@{
    ViewBag.Title = "Option Period Entry";
    Utilities lutilRadars = new Utilities();
    string ltContextPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
    int liContractActionID = (int)System.Web.HttpContext.Current.Session["CurrentContractActionID"];
    if(Model.PeriodOfPerformanceID == 0)
    {
        Model.PeriodOfPerformanceStartDate = DateTime.Today;
        Model.PeriodOfPerformanceEndDate = DateTime.Today;
    }

}

<div id="PMRadarsAddData">
    <h2>@ViewBag.Title.</h2>
    <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>

    @using (Html.BeginForm("AddOptionPeriod", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <!--    <h4>PM Radars Data Entry.</h4> -->
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">

            <table class="twocolumndataentry" width="100%">
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.HiddenFor(m => m.PeriodOfPerformanceID)
                        @Html.LabelFor(m => m.ContractActionID, new {@class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ContractActionID, new {@class = "form-control", @readonly = "readonly"})
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.PeriodOfPerformanceTypeID, new {@class = "col-md-2 control-label"})
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                    using(var ctxPMDB = new RadarsCDRLTracker.Models.RadarsContractTrackerEntities()) {
                                        var linqPOPTypes = ctxPMDB.PeriodOfPerformanceTypes;
                                        @Html.DropDownListFor(m => m.PeriodOfPerformanceTypeID, new SelectList(linqPOPTypes, "PeriodOfPerformanceTypeID", "PeriodOfPerformanceTypeDesc"), new {@class = "form-control"})
                                    }
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.PeriodOfPerformanceStartDate,new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PeriodOfPerformanceStartDate,"{0:MM/dd/yyyy}",new { @class = "form-control" })
                        </div>
                    </td>

                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.PeriodOfPerformanceEndDate, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.PeriodOfPerformanceEndDate, "{0:MM/dd/yyyy}", new { @class = "form-control" })
                        </div>
                    </td>

                </tr>

                <tr>
                    <td class="tdForFormButtons" colspan="6" valign="top">
                        <div> &nbsp;</div>
                            <input type="submit" name="whichaction" id="savedata" class="btn btn-default" value="Save Data" />
                            <input type="submit" name="whichaction" id="cancel" class="btn btn-default" value="Cancel" />
                    </td>
                </tr>

            </table>

        </div>
    }
