﻿
@{
    string ltErrorMsg = "";    
    ViewBag.Title = "AppError";
    if (Request.QueryString["errmessage"] != null)
    {
        ltErrorMsg = Request.QueryString["errmessage"];
    }
}

<h2>AppError</h2>

The system has encountered an error. Please contact your support (listed on contact us page). Provide a description of what application function you were trying to perform, what time the error occurred and your user id.  
<br />
<br />

@ltErrorMsg

