﻿@model RadarsDocLibrary.Models.AuditTable

@{
    ViewBag.Title = "Audit Log";
    var llstRecords = Model;
    Utilities lutilRadars = new Utilities();
    string ltContextPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;

}

<script type="text/javascript">
    jQuery(document).ready(function () {
            @{
                <text>
                var changedtable = @Html.Raw(lutilRadars.getAuditChangedTable());
                var changedby = @Html.Raw(lutilRadars.getAuditChangedBy());
                var updatetype = @Html.Raw(lutilRadars.getAuditUpdateType());
                </text>
            }

            getUniqueNames = function (columnName) {

                switch (columnName)
                {
                    case "ChangedTable":
                        return changedtable;
                        break;
                    case "ChangedBy":
                        return changedby;
                        break;
                    case "UpdateType":
                        return updatetype;
                        break;
                }
            },
            buildSearchSelect = function (uniqueNames) {
                var values = ":All";
                $.each(uniqueNames, function () {
                    values += ";" + this + ":" + this;
                });
                return values;
            },
            setSearchSelect = function (columnName) {
                //            alert(getUniqueNames.call(this, columnName));
                this.jqGrid("setColProp", columnName, {
                    stype: "select",
                    searchoptions: {
                        value: buildSearchSelect(getUniqueNames.call(this, columnName)),
                        sopt: ["eq"]
                    }
                });
            };


        myGrid = jQuery("#ReferenceGrid");
        myGrid.jqGrid({
            url: '@ltContextPath/Application/AuditLogGridData/',
            datatype: 'json',
            gridview: true,
            rownumbers: true,
            //            loadonce: true,
            ignoreCase: true,
            scroll: 0,
            mtype: 'GET',
            colNames: ['ChangedTable', 'SchemaVersionID', 'ChangedDateTime', 'ChangedBy', 'SerializedChange', 'UpdateType'],
            colModel: [
                        { name: 'ChangedTable', sortable: true, Index: 'ChangedTable', width: 95 },
                        { name: 'SchemaVersionID', sortable: true, Index: 'SchemaVersionID', width: 95 },
                        { name: 'ChangedDateTime',  sortable: true, Index: 'ChangedDateTime', width: 125 },
                        { name: 'ChangedBy', sortable: true, Index: 'ChangedBy', width: 95 },
                        { name: 'SerializedChange', sortable: true, Index: 'SerializedChange', width: 700, cellattr: function (rowId, tv, rawObject, cm, rdata) { return 'style="white-space: normal;"' } },
                        { name: 'UpdateType', sortable: true, Index: 'UpdateType', width: 95 }],
            pager: '#pager',
            rowNum: 10,
            rowList: [5, 10, 20, 50],
            sortname: 'ChangedDateTime',
            sortorder: "asc",
//            autowidth: true,
            viewrecords: true,
//            ondblClickRow: function(rowId) {
//                var rowData = jQuery(this).getRowData(rowId);
//                var theid = rowData['ActionTypeID'];
//                console.log("@ltContextPath/Application/ActionTypeEntry?whichaction=update&key=" + theid);
//                document.location.href = "@ltContextPath/Application/ActionTypeEntry?whichaction=update&key=" + theid;
//            }
        });
        myGrid.jqGrid('navGrid', '#pager', { edit: false, add: false, del: false, search: false, refresh: false }, {}, {}, {},
    { multipleSearch: true, overlay: false });

        setSearchSelect.call(myGrid, "ChangedTable");
        setSearchSelect.call(myGrid, "ChangedBy");
        setSearchSelect.call(myGrid, "UpdateType");

        myGrid.jqGrid("setColProp", "Name", {
            searchoptions: {
                sopt: ["cn"],
                dataInit: function (elem) {
                    $(elem).autocomplete({
                        source: getUniqueNames.call($(this), "Name"),
                        delay: 0,
                        minLength: 0,
                        select: function (event, ui) {
                            var myGrid, grid;
                            $(elem).val(ui.item.value);
                            if (typeof elem.id === "string" && elem.id.substr(0, 3) === "gs_") {
                                myGrid = $(elem).closest("div.ui-jqgrid-hdiv").next("div.ui-jqgrid-bdiv").find("table.ui-jqgrid-btable").first();
                                if (myGrid.length > 0) {
                                    grid = myGrid[0];
                                    if ($.isFunction(grid.triggerToolbar)) {
                                        grid.triggerToolbar();
                                    }
                                }
                            } else {
                                // to refresh the filter
                                $(elem).trigger("change");
                            }
                        }
                    });
                }
            }
        });

        myGrid.jqGrid('filterToolbar', {
            stringResult: true, searchOnEnter: true, defaultSearch: "cn", beforeSearch: function () {
                // alert("verifying the data");
                var postData = myGrid.jqGrid('getGridParam', 'postData');
                // we use `stringResult: true` so decoding of the search parameters are a little complex
                var searchData = jQuery.parseJSON(postData.filters);
                for (var iRule = 0; iRule < searchData.rules.length; iRule++) {
                    if (searchData.rules[iRule].field === "Name") {
                        var valueToSearch = searchData.rules[iRule].data;
                        if (valueToSearch.length != 5) {
                            alert("The search string MUST de 5 charachters length!");
                            return true;    // error
                        }
                    }
                }
                return false;
            }
        });
        myGrid.jqGrid('navButtonAdd', '#pager',
        {
            caption: "Filter",
            title: "Toggle Searching Toolbar",
            buttonicon: 'ui-icon-pin-s',
            onClickButton: function () {
                myGrid[0].toggleToolbar();
                setSearchSelect.call(myGrid, "ChangedBy");
            }
        }
        );

        myGrid[0].toggleToolbar();

    });

//    function DeleteConfirm(key) {
//        if (confirm("Are you sure you wish to delete " + key))
//        {
//            window.location.href = "@ltContextPath/Application/ActionTypeEntry?whichaction=delete&key=" + key + "&returnurl=/ActionTypeList";
//        }

//    }
//    function EditRecord(key) {
//        window.location.href = "@ltContextPath/Application/ActionTypeEntry?whichaction=update&key=" + key + "&returnurl=/ActionTypeList";
//    }
//        
</script>

    <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>

@using(Html.BeginForm("AuditLogEntry","Application",FormMethod.Post,new { @class = "form-horizontal",role = "form" }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary()

    <div id="ReferenceTableDescDIV">
        <h2>@ViewBag.Title</h2>
        <table id="ReferenceGrid"><tr><td></td></tr></table>
        <div id="pager" align="left"></div>
    </div>
}

    <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

@{
    System.Web.HttpContext.Current.Session["DisplayMessage"] = " ";
}
