﻿@model RadarsFleetTracker.Models.AssetModel
@{
    ViewBag.Title = "PM Radars Data View";
 }

<div id="PMRadarsAddData">
    <h2>@ViewBag.Title.</h2>
    <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>

    @using (Html.BeginForm("DataView", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <!--    <h4>PM Radars Data Entry.</h4> -->
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            <table class="threecolumndataentry" width="100%">
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.systemname, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB  = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqSystemNameDesc = ctxPMDB.systemnamedescs;
                                    @Html.DropDownListFor(m => m.systemname, new SelectList(linqSystemNameDesc, "systemname", "systemnamedescription"), new { disabled = "disabled", @class = "form-control" })
                                }
                             }   
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.lin, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqLIN = ctxPMDB.lindescs;
                                    @Html.DropDownListFor(m => m.lin, new SelectList(linqLIN, "lin", "lindesc1"), new { disabled = "disabled", @class = "form-control" })
                                }
                            }

<!--                            @Html.TextBoxFor(m => m.lin, new { @class = "form-control" }) -->
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.nsn, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqNSN = ctxPMDB.nsndescs;
                                        @Html.DropDownListFor(m => m.nsn, new SelectList(linqNSN, "nsn", "nsndesc1"), new { disabled = "disabled", @class = "form-control" })
                                }
                            }

                            <!--                            @Html.TextBoxFor(m => m.nsn, new { @class = "form-control" }) -->
                        </div>
                    </td>


                </tr>
<!-- 3----------------------------------------------------------------------------------------   -->
                <tr>
<!-- serial number field -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.serialnumber, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.serialnumber, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- vehicle 1 id field -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.primarymoverid, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.primarymoverid, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- vehicle 1 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.vehicle1type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqVehicle1Type = from vehicle in ctxPMDB.vehicletypes
                                                           orderby vehicle.vehicledesc
                                                           select new
                                                           {
                                                               vehicle.vehicle,
                                                               vehicle.vehicledesc
                                                           };
                                        @Html.DropDownListFor(m => m.vehicle1type, new SelectList(linqVehicle1Type, "vehicle", "vehicledesc"), new { disabled = "disabled", @class = "form-control" })
                                }
                            }
                        </div>
                    </td>
                </tr>


                <tr>
<!-- vehicle 2 id -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.supportmoverserial, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.supportmoverserial, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- vehicle 2 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.vehicle2type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqVehicle2Type = from vehicle in ctxPMDB.vehicletypes
                                                           orderby vehicle.vehicledesc
                                                           select new
                                                           {
                                                               vehicle.vehicle,
                                                               vehicle.vehicledesc
                                                           };
                                        @Html.DropDownListFor(m => m.vehicle2type, new SelectList(linqVehicle2Type, "vehicle", "vehicledesc"), new { disabled = "disabled", @class = "form-control" })
                                }
                            }
                        </div>
                    </td>
<!-- vehicle 3 id -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.vehicle3id, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.vehicle3id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
<!-- ------------------------------------------------------------------------------->
                <tr>
<!-- vehicle 3 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.vehicle3type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqVehicle3Type = from vehicle in ctxPMDB.vehicletypes
                                                           orderby vehicle.vehicledesc
                                                           select new
                                                           {
                                                               vehicle.vehicle,
                                                               vehicle.vehicledesc
                                                           };
                                        @Html.DropDownListFor(m => m.vehicle3type, new SelectList(linqVehicle3Type, "vehicle", "vehicledesc"), new { disabled = "disabled", @class = "form-control" })
                                }
                            }
                        </div>
                    </td>
<!-- generator 1 id -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.powerunitserial, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.powerunitserial, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>

<!-- generator 1 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.generator1type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqGenerator1Type = from generator in ctxPMDB.generatortypes
                                                           orderby generator.generatordesc
                                                           select new
                                                           {
                                                               generator.generator,
                                                               generator.generatordesc
                                                           };
                                        Html.DropDownListFor(m => m.generator1type, new SelectList(linqGenerator1Type, "generator", "generatordesc"), new { disabled = "disabled", @class = "form-control" });
                                }
                            }
                        </div>
                    </td>

                </tr>

                <tr>
<!-- generator 2 id  -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.generator2id, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.generator2id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- generator 2 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.generator2type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqGenerator2Type = from generator in ctxPMDB.generatortypes
                                                           orderby generator.generatordesc
                                                           select new
                                                           {
                                                               generator.generator,
                                                               generator.generatordesc
                                                           };
                                        Html.DropDownListFor(m => m.generator2type, new SelectList(linqGenerator2Type, "generator", "generatordesc"), new { disabled = "disabled", @class = "form-control" });
                                }
                            }
                        </div>
                    </td>
<!-- generator 3 id -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.generator3id, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.generator3id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                </tr>

                <tr>
<!-- generator 3 type  -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.generator3type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqGenerator3Type = from generator in ctxPMDB.generatortypes
                                                           orderby generator.generatordesc
                                                           select new
                                                           {
                                                               generator.generator,
                                                               generator.generatordesc
                                                           };
                                        Html.DropDownListFor(m => m.generator3type, new SelectList(linqGenerator3Type, "generator", "generatordesc"), new { disabled = "disabled", @class = "form-control" });
                                }
                            }
                        </div>
                    </td>
<!-- ecu 1 id -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.ecu1id, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ecu1id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- ecu 1 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.ecu1type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqECU1Type = from ecu in ctxPMDB.ecutypes
                                                           orderby ecu.ecudesc
                                                           select new
                                                           {
                                                               ecu.ecu,
                                                               ecu.ecudesc
                                                           };
                                        Html.DropDownListFor(m => m.ecu1type, new SelectList(linqECU1Type, "ecu", "ecudesc"), new { disabled = "disabled", @class = "form-control" });
                                }
                            }
                        </div>
                    </td>

                </tr>


                <tr>
<!-- ecu 2 id  -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.ecu2id, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.ecu2id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- ecu 2 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.ecu2type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqECU2Type = from ecu in ctxPMDB.ecutypes
                                                           orderby ecu.ecudesc
                                                           select new
                                                           {
                                                               ecu.ecu,
                                                               ecu.ecudesc
                                                           };
                                        Html.DropDownListFor(m => m.ecu2type, new SelectList(linqECU2Type, "ecu", "ecudesc"), new { disabled = "disabled", @class = "form-control" });
                                }
                            }
                        </div>
                    </td>
<!-- trailer 1 id -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.trailer1id, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.trailer1id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                </tr>

<!-- --------------------------------------------------------------------------------- -->

                <tr>
<!-- trailer 1 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.trailer1type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqTrailer1Type = from trailer in ctxPMDB.trailertypes
                                                           orderby trailer.trailerdesc
                                                           select new
                                                           {
                                                               trailer.trailer,
                                                               trailer.trailerdesc
                                                           };
                                        Html.DropDownListFor(m => m.trailer1type, new SelectList(linqTrailer1Type, "trailer", "trailerdesc"), new { disabled = "disabled", @class = "form-control" });
                                }
                            }
                        </div>
                    </td>
<!-- trailer 2 id -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.trailer2id, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.trailer2id, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>

<!-- trailer 2 type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.trailer2type, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqTrailer2Type = from trailer in ctxPMDB.trailertypes
                                                           orderby trailer.trailerdesc
                                                           select new
                                                           {
                                                               trailer.trailer,
                                                               trailer.trailerdesc
                                                           };
                                        Html.DropDownListFor(m => m.trailer2type, new SelectList(linqTrailer2Type, "trailer", "trailerdesc"), new { disabled = "disabled", @class = "form-control" });
                                }
                            }
                        </div>
                    </td>

                </tr>


                <tr>
<!-- toolkit -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.toolkitid, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.toolkitid, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- toolkit type -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.toolkittype, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqToolkitType = from toolkit in ctxPMDB.toolkittypes
                                                           orderby toolkit.toolkitdesc
                                                           select new
                                                           {
                                                               toolkit.toolkit,
                                                               toolkit.toolkitdesc
                                                           };
                                    Html.DropDownListFor(m => m.toolkittype, new SelectList(linqToolkitType, "trailer", "trailerdesc"), new { disabled = "disabled", @class = "form-control" });
                                }
                            }
                        </div>
                    </td>
<!-- shelter field -->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.shelterserialnumber, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.shelterserialnumber, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                </tr>

<!-- 3----------------------------------------------------------------------------------------   -->

                <tr>
<!-- hardware field-->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.hardwareconfig, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqHardwareConfig = from hardware in ctxPMDB.hardwareconfigs
                                                             orderby hardware.hardwaredesc
                                                             select new
                                                             {
                                                                 hardware.hardware,
                                                                 hardware.hardwaredesc
                                                             };
                                        @Html.DropDownListFor(m => m.hardwareconfig, new SelectList(linqHardwareConfig, "hardware", "hardwaredesc"), new { disabled = "disabled", @class = "form-control" })
                                }
                            }
                            <!--                            @Html.TextBoxFor(m => m.hardwareconfig, new { @class = "form-control" }) -->
                        </div>
                    </td>
<!-- software field-->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.softwareconfig, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqSoftwareConfig = from software in ctxPMDB.softwareconfigs
                                                             orderby software.softwaredesc
                                                             select new
                                                             {
                                                                 software.software,
                                                                 software.softwaredesc
                                                             };
                                        @Html.DropDownListFor(m => m.softwareconfig, new SelectList(linqSoftwareConfig, "software", "softwaredesc"), new { disabled = "disabled", @class = "form-control" })
                                }
                            }
                            <!--                            @Html.TextBoxFor(m => m.softwareconfig, new { @class = "form-control" }) -->
                        </div>
                    </td>
<!-- cabkit field-->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.cabkit, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">

                            @{
                                if (Model != null)
                                {
                                    if (Model.cabkit == true)
                                    {
                                        <text>

                                            Yes <input data-val="true" data-val-required="The Cab Kit field is required." id="YesCabkit" name="YesCabkit" type="checkbox" value="true" checked disabled />
                                            No <input data-val="true" data-val-required="The NoCabkit field is required." id="NoCabkit" name="NoCabkit" type="checkbox" value="true" disabled />
                                        </text>
                                    }
                                    else if (Model.cabkit == false)
                                    {
                                        <text>

                                            Yes <input data-val="true" data-val-required="The Cab Kit field is required." id="YesCabkit" name="YesCabkit" type="checkbox" value="true" disabled />
                                            No <input data-val="true" data-val-required="The NoCabkit field is required." id="NoCabkit" name="NoCabkit" type="checkbox" value="true" checked disabled />
                                        </text>
                                    }
                                    else
                                    {
                                        <text>
                                            Yes <input data-val="true" data-val-required="The Cab Kit field is required." id="YesCabkit" name="YesCabkit" type="checkbox" value="true" disabled />
                                            No <input data-val="true" data-val-required="The NoCabkit field is required." id="NoCabkit" name="NoCabkit" type="checkbox" value="true" disabled />
                                        </text>
                                    }
                                }
                                else
                                {
                                        <text>
                                            Yes <input data-val="true" data-val-required="The Cab Kit field is required." id="YesCabkit" name="YesCabkit" type="checkbox" value="true" disabled />
                                            No <input data-val="true" data-val-required="The NoCabkit field is required." id="NoCabkit" name="NoCabkit" type="checkbox" value="true" disabled />
                                        </text>
                                }

                            }

                        </div>
                    </td>
                </tr>
 <!-- 3----------------------------------------------------------------------------------------   -->
                <tr>
 <!-- pdu field-->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.pduserial, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.pduserial, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- vehicle mount field-->
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.vehiclemountserial, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.vehiclemountserial, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
<!-- field-->
                    <td></td>
                    <td></td>
                </tr>
<!-- ----------------------------------------------------------------------------------------   -->
<!-- ----------------------------------------------------------------------------------------   -->
<!-- ----------------------------------------------------------------------------------------   -->
                <tr>
                    <td class="tdForTextField" colspan="6" valign="top">
                        <div id="TextFieldDataEntry">
                            @Html.LabelFor(m => m.notes)
                            @Html.TextAreaFor(m => m.notes, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                </tr>
<!-- ----------------------------------------------------------------------------------------   -->
                <tr>
                    <td class="tdForFormButtons" colspan="6" valign="top">
                        <div> &nbsp;</div>
                                <input type="hidden" name="ObjectState" id="ObjectState" />
                                <input type="submit" name="whichaction" id="searchagain" class="btn btn-default" value="Search" />
                                <input type="submit" name="whichaction" id="addupdateevent" class="btn btn-default" value="Add/Update Event" />
                                <input type="submit" name="whichaction" id="updateasset" class="btn btn-default" value="Update Asset" />
                    </td>
                </tr>

            </table>
<!--        </div> -->
    }

    <script>
//        $('#ObjectState').text(getSerialized());
    </script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    @{
        System.Web.HttpContext.Current.Session["DisplayMessage"] = " ";
    }
</div>
