﻿@model RadarsFleetTracker.Models.pmradarstracker
@{
    ViewBag.Title = "Add Radar";
}

<div id="PMRadarsAddData">
    <h2>@ViewBag.Title.</h2>
    <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>

    @using (Html.BeginForm("DataEntry", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <!--    <h4>PM Radars Data Entry.</h4> -->
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            <table class="twocolumndataentry" width="100%">
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.systemname, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB  = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqSystemNameDesc = ctxPMDB.systemnamedescs;
                                    @Html.DropDownListFor(m => m.systemname, new SelectList(linqSystemNameDesc, "systemname", "systemnamedescription"), new { @class = "form-control" })
                                }
                             }   
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.lin, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqLIN = ctxPMDB.lindescs;
                                    @Html.DropDownListFor(m => m.lin, new SelectList(linqLIN, "lin", "lindesc1"), new { @class = "form-control" })
                                }
                            }
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.nsn, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqNSN = ctxPMDB.nsndescs;
                                    @Html.DropDownListFor(m => m.nsn, new SelectList(linqNSN, "nsn", "nsndesc1"), new {@class = "form-control" })
                                }
                            }
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.serialnumber, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.serialnumber, new { @class = "form-control"})
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.primarymoverid, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.primarymoverid, new { @class = "form-control"})
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.powerunitserial, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.powerunitserial, new { @class = "form-control"})
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.supportmoverserial, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.supportmoverserial, new { @class = "form-control"})
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.shelterserialnumber, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.shelterserialnumber, new { @class = "form-control"})
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.hardwareconfig, new { @class = "col-md-2 control-label" }) 
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                        @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqHardwareConfig = from hardware in ctxPMDB.hardwareconfigs
                                    orderby hardware.hardwaredesc
                                    select new
                                    {
                                        hardware.hardware,
                                        hardware.hardwaredesc
                                    };
                                    @Html.DropDownListFor(m => m.hardwareconfig, new SelectList(linqHardwareConfig, "hardware", "hardwaredesc"), new {@class = "form-control" })
                                }
                         } 
<!--                            @Html.TextBoxFor(m => m.hardwareconfig, new { @class = "form-control" }) -->
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.softwareconfig, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @{
                                using (var ctxPMDB = new RadarsFleetTracker.Models.RadarsFleetManagerEntities())
                                {
                                    var linqSoftwareConfig = from software in ctxPMDB.softwareconfigs
                                    orderby software.softwaredesc
                                    select new
                                    {
                                         software.software,
                                         software.softwaredesc
                                    };
                                    @Html.DropDownListFor(m => m.softwareconfig, new SelectList(linqSoftwareConfig, "software", "softwaredesc"), new {@class = "form-control" })
                                }
                            }
<!--                            @Html.TextBoxFor(m => m.softwareconfig, new { @class = "form-control" }) -->
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.cabkit, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            Yes <input data-val="true" data-val-required="The Cab Kit field is required." id="YesCabkit" name="YesCabkit" type="checkbox" value="true" /><input name="YesCabkit" type="hidden" value="false" />
                            No <input data-val="true" data-val-required="The NoCabkit field is required." id="NoCabkit" name="NoCabkit" type="checkbox" value="true" /><input name="NoCabkit" type="hidden" value="false" />

<!--                            Yes &nbsp; <input data-val="true" data-val-required="The Cab Kit field is required." id="YesCabkit" name="YesCabkit" type="checkbox" value="true"> &nbsp; &nbsp;
                            No &nbsp; <input data-val="true" data-val-required="The Cab Kit field is required." id="NoCabkit" name="NoCabkit" type="checkbox" value="true">
-->
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.pduserial, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.pduserial, new { @class = "form-control" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.vehiclemountserial, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.vehiclemountserial, new { @class = "form-control" })
                        </div>
                    </td>
                    <td></td>
                    <td></td>
                </tr>
                <tr>
                    <td class="tdForTextField" colspan="4" valign="top">
                        <div id="TextFieldDataEntry">
                            @Html.LabelFor(m => m.notes)
                            @Html.TextAreaFor(m => m.notes, new { @class = "form-control"})
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdForFormButtons" colspan="4" valign="top">
                        <div> &nbsp;</div>
                            <input type="submit" name="whichaction" id="savedata" class="btn btn-default" value="Save Data" />
                            <input type="submit" name="whichaction" id="cancel" class="btn btn-default" value="Cancel" />
                    </td>
                </tr>
            </table>
        </div>
    }

    <script type="text/javascript">
        $(document).ready(function () {
            $('#YesCabkit').click(function () {
                if ($("#NoCabkit").is(':checked')) {
                    $("#NoCabkit").attr('checked', false);
                }
            });
            $('#NoCabkit').click(function () {
                if ($("#YesCabkit").is(':checked')) {
                    $("#YesCabkit").attr('checked', false);
                }
            });
        })
    </script>


   @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    @{
        System.Web.HttpContext.Current.Session["DisplayMessage"] = " ";
    }
</div>
