﻿
@{
    Logger.Info("Made it inside Document Upload List Screen");

    ViewBag.Title = "Uploaded Documents";

    var lutilRadars = new Utilities();

    // Note dataurl has the owning entitytable and the owning entity id embeded as querysting parms. 
    // dataurl for contract is ... dataurl="+Server.UrlEncode(ltContextPath+"/Application/ReturnDocumentList?OwningEntityTable=contract&OwningEntityID="+model.ContractID
    var ltDataURL = Request.QueryString["dataurl"] ;


    string ltContextPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
    string ltCurrentOwningEntityTable = System.Web.HttpContext.Current.Session["CurrentOwningEntityID"].ToString();
    string ltCurrentOwningEntityID = System.Web.HttpContext.Current.Session["CurrentOwningEntityID"].ToString();
    
    bool llReadOnly = lutilRadars.DoesUserHaveClaim(User,"ReadOnly");
    var ltDisabled = "";
    if(llReadOnly == true) { ltDisabled = "disabled"; }
    Logger.Info("Inside Document Upload List Screen just before the javascript...");
}

<script type="text/javascript">
    jQuery(document).ready(function () {

        myGrid = jQuery("#DocumentList");
        myGrid.jqGrid({
            url: '@ltDataURL',
            datatype: 'json',
            gridview: true,
            rownumbers: true,
            //            loadonce: true,
            ignoreCase: true,
            scroll: 0,
            mtype: 'GET',
//            colNames: ['Download', 'Delete', 'DocumentID', 'DateTimeAdded', 'OwningEntityTable', 'OwningEntityID', 'DocumentName', 'DocumentPath', 'Notes'],
            colNames: ['Download', @if(lutilRadars.DoesUserHaveClaim(User,"Admin") && !lutilRadars.DoesUserHaveClaim(User,"ReadOnly")){<text>'Delete',</text>} 'DocumentID', 'DateTimeAdded', 'DocumentName', 'DocumentPath'],
            colModel: [
                        { name: 'download', formatter: downloadlinkformatter, width: 10 },
                        @if(lutilRadars.DoesUserHaveClaim(User,"Admin") && !lutilRadars.DoesUserHaveClaim(User,"ReadOnly")){<text>{ name: 'delete', formatter: deletelinkformatter, width: 10 },</text>}
                        { name: 'DocumentID', sortable: true, Index: 'DocumentID', width: 20 },
                        { name: 'DateTimeAdded', sortable: true, Index: 'DateTimeAdded', width: 20 },
//                        { name: 'OwningEntityTable', sortable: true, Index: 'OwningEntityTable', width: 20 },
//                        { name: 'OwningEntityID', sortable: true, Index: 'OwningEntityID', width: 20 },
                        { name: 'DocumentName', sortable: true, Index: 'DocumentName', width: 20 },
                        { name: 'DocumentPath', sortable: true, Index: 'DocumentPath', width: 100 }],
//                        { name: 'Notes', sortable: true, Index: 'Notes', width: 25 }],
            pager: '#pager',
            rowNum: 10,
            rowList: [5, 10, 20, 50],
            sortname: 'DocumentID',
            sortorder: "desc",
            autowidth: true,
            viewrecords: true,
            ondblClickRow: function(rowId) {
                var rowData = jQuery(this).getRowData(rowId);
                var uploadid = rowData['DocumentID'];
                console.log("@ltContextPath/Application/DocumentUploadList?action=download&key="+uploadid);
                document.location.href = "@ltContextPath/Application/DocumentFunctions?whichaction=download&key="+uploadid;
            }
        });
        myGrid.jqGrid('navGrid', '#pager', { edit: false, add: false, del: false, search: false, refresh: false }, {}, {}, {},
    { multipleSearch: false, overlay: false });

        function downloadlinkformatter(cellvalue, options, rowObject) {
            return "<div style=\"text-align: center;\"><button type=\"button\" class=\"gridbutton\" onClick=\"DownloadDocument('" + rowObject['DocumentID'] + "');\">Download</button></div>";
        }

        function deletelinkformatter(cellvalue, options, rowObject) {
            return "<div style=\"text-align: center;\"><button type=\"button\" class=\"gridbutton\" onClick=\"DeleteConfirm('" + rowObject['DocumentID'] + "');\">Delete</button></div>";
        }

    });

    function DeleteConfirm(key) {
        if (confirm("Are you sure you wish to delete " + key))
        {
            window.location.href = "@ltContextPath/Application/DocumentFunctions?whichaction=deletedocument&key="+key;
        }

    }
    function DownloadDocument(key) {
            window.location.href = "@ltContextPath/Application/DocumentFunctions?whichaction=downloaddocument&key="+key;
    }
        
</script>

@using (Html.BeginForm("DocumentUploadList", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.AntiForgeryToken()
@Html.ValidationSummary()

    <div id="DocumentListDIV">
        @{Logger.Info("In beginning of html");}
        <h2>PM Radars Documents</h2>
        
        <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>

        <div id="buttonrow">
            <input type="submit" name="whichaction" id="adddata" class="btn btn-default" value="New Document" @ltDisabled/>
        </div>
        <div>&nbsp</div>
        @{Logger.Info("BF table DocumentList");}
        <table id="DocumentList"><tr><td></td></tr></table>
        <div id="pager" align="left"></div>
        <div id="buttonrow">
            <input type="submit" name="whichaction" id="adddata" class="btn btn-default" value="New Document" @ltDisabled/>
        </div>

        <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>

    </div>
}

@{
    System.Web.HttpContext.Current.Session["DisplayMessage"] = " ";
    Logger.Info("After DocumentList HTML");

}

@section Scripts {

   @{Logger.Info("BF jquery scripts in DocumentList");}

    @Scripts.Render("~/bundles/jqueryval")

   @{Logger.Info("After jquery scripts in DocumentList HTML DONE");}

}
