﻿@model RadarsDocLibrary.Models.DocumentUploads2
           
@{
    ViewBag.Title = "Document Upload";
    String ltOwningEntityTable = System.Web.HttpContext.Current.Session["CurrentOwningEntityTable"].ToString();
    String ltOwningEntityID = System.Web.HttpContext.Current.Session["CurrentOwningEntityID"].ToString();
    Utilities lutilRadars = new Utilities();
    string ltContextPath = Request.Url.GetLeftPart(UriPartial.Authority) + Request.ApplicationPath;
}

<script>
    $('#DocUploadForm').submit(function (e) {
        e.preventDefault();
        console.log("DocUploadForm preventdefault on submit executed");
    })
</script>
<div id="PMRadarsAddData2">
    <h2>@ViewBag.Title.</h2>
    <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>
    @using(Html.BeginForm("DocumentUploadEntry","Application",null,FormMethod.Post,new { enctype = "multipart/form-data",id = "DocUploadForm" })) 
    {
        @Html.AntiForgeryToken()
        <!--    <h4>PM Radars Data Entry.</h4> -->
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            <table class="twocolumndataentry" width="100%">
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.HiddenFor(m => m.DocumentID, new {id = "DocumentID"} )
                        @Html.HiddenFor(m => m.DateTimeAdded, new {id = "DateTimeAdded"})
                        @Html.HiddenFor(m => m.OwningEntityTable, new {id = "OwningEntityTable"})
                        @Html.HiddenFor(m => m.OwningEntityID, new {id = "OwningEntityID"})
                        @Html.LabelFor(m => m.DocumentName, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.DocumentName,new { @class = "form-control", id = "DocumentName" })
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        "Locate Document"
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            <input type="file" name="UploadDocument" id="UploadDocument" />                            
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdForFormButtons" colspan="4" valign="top">
                        <div> &nbsp;</div>
                            <input type="submit" name="whichaction" id="UploadTheFile" class="btn btn-default" value="Upload File" />
                            <input type="submit" name="whichaction" id="cancelFileUpload" class="btn btn-default" value="Cancel" />
                    </td>
                </tr>
            </table>
        </div>
    }

   @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    @{
        System.Web.HttpContext.Current.Session["DisplayMessage"] = " ";
    }
</div>
