﻿@model RadarsDocLibrary.Models.DocumentUpload
           
@{
    ViewBag.Title = "Document Upload";
    String ltOwningEntityTable = System.Web.HttpContext.Current.Session["CurrentOwningEntityTable"].ToString();
    String ltOwningEntityID = System.Web.HttpContext.Current.Session["CurrentOwningEntityID"].ToString();
}

<div id="PMRadarsAddData">
    <h2>@ViewBag.Title.</h2>
    <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>
    @using (Html.BeginForm("DocumentUpload", "Application", null, FormMethod.Post, new {enctype = "multipart/form-data"})) 
    {
        @Html.AntiForgeryToken()
        <!--    <h4>PM Radars Data Entry.</h4> -->
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            <table class="twocolumndataentry" width="100%">
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.HiddenFor(m => m.DocumentID)
                        @Html.HiddenFor(m => m.DateTimeAdded)
                        @Html.HiddenFor(m => m.OwningEntityTable)
                        @Html.HiddenFor(m => m.OwningEntityID)
                        @Html.LabelFor(m => m.DocumentName, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.DocumentName,new { @class = "form-control" })
                        </div>
                    </td>
                    <td class="datalabel" valign="top">
                        "Locate Document"
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            <input type="file" name="UploadDocument" />                            
                        </div>
                    </td>
                </tr>

                <tr>
                    <td class="tdForFormButtons" colspan="4" valign="top">
                        <div> &nbsp;</div>
                            <input type="submit" name="whichaction" id="savedata" class="btn btn-default" value="Save Data" />
                            <input type="submit" name="whichaction" id="cancel" class="btn btn-default" value="Cancel" />
                    </td>
                </tr>
            </table>
        </div>
    }

   @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    @{
        System.Web.HttpContext.Current.Session["DisplayMessage"] = " ";
    }
</div>
