﻿@model RadarsDocLibrary.Models.sitecontent
@{
    ViewBag.Title = "Update Site Content";
}

<div id="PMRadarsAddData">
    <h2>@ViewBag.Title.</h2>
    <div class="StatusMessage">@System.Web.HttpContext.Current.Session["DisplayMessage"]</div>
    @using (Html.BeginForm("UpdateSiteContent", "Application", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <!--    <h4>PM Radars Data Entry.</h4> -->
        <hr />
        @Html.ValidationSummary()
        <div class="form-group">
            <table class="twocolumndataentry" width="100%">
                <tr>
                    <td class="datalabel" valign="top">
                        @Html.LabelFor(m => m.contentid, new { @class = "col-md-2 control-label" })
                    </td>
                    <td class="datafield" valign="top">
                        <div class="col-md-10">
                            @Html.TextBoxFor(Model => Model.contentid, new { @class = "form-control", @readonly = "readonly" })
                        </div>
                    </td>
                    <td>
                    </td>
                    <td>
                    </td>
                </tr>

                <tr>
                    <td class="tdForTextField" colspan="4" valign="top">
                        <div id="TextFieldDataEntry">
                            @Html.LabelFor(m => m.contentdisplay)
                            @Html.TextAreaFor(m => m.contentdisplay, new { style="width:100%; height:380px;" })
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tdForFormButtons" colspan="4" valign="top">
                        <div> &nbsp;</div>
                            <input type="submit" name="whichaction" id="savedata" class="btn btn-default" value="Save Data" />
                            <input type="submit" name="whichaction" id="cancel" class="btn btn-default" value="Cancel" />
                    </td>
                </tr>
            </table>
        </div>
    }

   @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
    @{
        System.Web.HttpContext.Current.Session["DisplayMessage"] = " ";
    }
</div>
