﻿/* Hack to hide the close button on the jquery modal dialog because of its busted functionality (conflict with bootstrap
   Since both frameworks are required in .net... this is the hack that's required */
.ui-dialog-titlebar-close 
{
    visibility: hidden;
}

#AlertRibbon 
{
    background-color: yellow;
    color: black;
}

#menulogo
{
    display: block;
    position: relative;
    float: left;
    display: block;
    top: 0;
    clear: both;
    width: 10%;
    margin-left: -20px;
    margin-left: -2px;
}
 
.fullwidthspacer
{
    height: 40px;
}

.NewsArticle
{

}

.NewsGraphic
{
    float: left;
    margin-right: 20px;
}

.NewsText
{
    padding-top: 50px;
}
.pmradarsmenu
{
    padding-right: 15px;
    padding-left: 15px;
    overflow-x: visible;
    -webkit-overflow-scrolling: touch;
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
             box-shadow: inset 0 1px 0 rgba(255, 255, 255, .1);
    border-width: 0 0 1px;
    width: 100%;
    margin-top: -50px;
    margin-left: 100px;
    height: 81px;
}

#PMRadarsAddData h2
{
    margin-top: 1px; 
    margin-bottom: 1px;
}

#PMRadarsAddData hr
{
    margin-top: 1px;
    margin-bottom: 10px;
}

.twocolumndataentry 
{
    width: 100%;
}

.twocolumndataentry td
{
    height: 30px; 
    overflow:hidden;
}

/*label.col-md-2.control-label */

.twocolumndataentry label
{
    width: 100%;
}

#TextFieldDataEntry
{
    text-align: center;
}

#TextFieldDataEntry label
{
    margin-top: 10px;
    width: 100%
}

#TextFieldDataEntry input
{
    max-width: 100%;
    width: 100%;
    height: 50px;
}

#TextFieldDataEntry textarea
{
    max-width: 100%;
    width: 100%;
    height: 50px;
}

.tdForFormButtons 
{
    vertical-align: bottom;
    text-align: center;
}

.tdForFormButtons td
{
    height: 50px;
}

.StatusMessage
{
    color: red;
}

.greydropdown
{
    color: grey;
}

#RadarsSearchResults
{
    width: 100%;
}

#RadarsGridDiv
{
    width: 2400px;
    margin-left: -80px;
}
#RadarsGrid
{
    width: 2400px;
}

#pager
{
   
}

#table#RadarSearchResults tbody tr:nth-child(even) {background: #CCC}
#table#RadarSearchResults tbody tr:nth-child(odd) {background: #FFF}

#RadarsHistoryGrid
{
    width: 100%;
}

#buttonrow
{
    width: 100%;
    align-content: center;
    text-align: center;
    padding-top: 20px;
}

.gridbutton
{
    color: black;
}

.dialog-form-control 
{
    display: block;
    width: 100%;
    height: 28px;
    padding: 0px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}